* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    color: rgba(41,177,221,255);
    padding: 1em;
}

section {
    background-color: rgba(41,177,221,255);
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

section h3 {
    color: white;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box-grande {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    background-color: rgba(221,221,221,255);

}

.card {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid salmon;
    border-radius: 10px;
    background-color: white;
    height: 100px;
    width: 170px;
}