*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    color: rgba(41,177,221,255) ;
    background-color: white;
}

body{
    background-color: salmon;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-align: center;
    background-color: rgba(41,177,221,255);
    color: white;
}

.tutte-le-card{
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(245,245,245,255);
    display: flex;
}

.card i{
    font-size: 2em;
    margin: 15px;
}